TPOT_TYPE=SENSOR
TPOT_HIVE_USER={{ tpot_hive_user }}
TPOT_HIVE_IP={{ hive_ip }}
LS_SSL_VERIFICATION={{ ssl_verification }}
TPOT_REPO={{ tpot_repo }}
TPOT_VERSION={{ tpot_version }}
TPOT_PULL_POLICY=always
TPOT_DATA_PATH=/data
TPOT_DOCKER_COMPOSE=/opt/tpotce/docker-compose.yml
TPOT_OSTYPE=linux
TPOT_BLACKHOLE=DISABLED
TPOT_PERSISTENCE=on
TPOT_ATTACKMAP_TEXT=ENABLED
TPOT_ATTACKMAP_TEXT_TIMEZONE=UTC
MY_HOSTNAME={{ sensor_name }}
